// Colors

$white: #fff;
$black: #333;
$light-white: #faf5ef;
$light-grey: #dcd8cb;
$medium-grey: #707070;
$grey: #b7b7b7;
$dark-grey: #7e7e7d;
$darkest-grey: #292929;
$red: #c61641;
$blue: #022060;
$dark-blue: #01153f;
$primary-color: $blue;
$secondary-color: $dark-blue;
$accent-color: $red;
$base-color: $black;
$base-bg: $white;

//Fonts
$base-font: 'Montserrat', sans-serif;
$heading-font: 'GT Sectra Fine', serif;
$base-font-size: 1.2rem;
$base-font-size-m: 1.4rem;

//Transitions
$transition: all 0.2s ease-in-out;
$transition4: all 0.4s ease-in-out;

//Widths:
$xs: 360px;
$s: 480px;
$m: 768px;
$l: 1024px;
$xl: 1280px;

$max-width: 1230px;

// Grid
$grid-columns: 12;

$xs-max: $s; // Set xs breakpoint's max width
$sm-max: $m; // Set sm breakpoint's max width
$md-max: $l; // Set md breakpoint's max width
$lg-max: $xl; // Set lg breakpoint's max width

$gutter: 1rem; // Set gutter size
