.edit-profile {
  float: right;
  margin-top: -65px;
  padding: 7px 35px;
  font-size: 1.8rem;
  font-weight: 400;
}
.your-account{
  .heading{
    .profile-info {
      .date{
        color: #55595a;
      }
      h4.by{
      }
    }
  }
  .button-links{
    margin:10px 0;
    margin-left: -5px;
    li{
      a{
        color: white;
      }
      background-color: $blue;
      &:hover{
        a{
          color: $blue;
        }
        background-color: white;
      }
    }
  }
}