{% extends "base.twig" %}

{% block content %}
    <div class="single-case">
        {% include 'partial/breadcrumb.twig' %}
        <div class="middle-section">
            <div class="left-content">
                <div class="heading">
                    <div class="profile-picture"></div>
                    <div class="profile-info">
                        <p><i class="doc-icon"></i>Main case <span href="" class="flag new">New</span></p>
                        <h1>Military Contracting in a War Zone: Bill</h1>
                        <h3>By Celia Moore, Quang Nguyen</h3>
                        <div class="publication-date">August 2012</div>
                    </div>
                </div>
                <div>
                    <p><a href="" class="default-button">Preview case</a></p>
                </div>
                <div class="heading-links">
                    <ul class="button-links">
                        <li><a href="">Organisational Behaviour</a></li>
                        <li><a href="">Business ethics</a></li>
                        <li><a href="">International business</a></li>
                        <li><a href="">Groups</a></li>
                        <li><a href="">Logistics</a></li>
                        <li><a href="">LogisticsMiddle East; United States</a></li>
                    </ul>
                </div>
                <p>This is part of a case series. This case takes two perspectives on the same set of case facts about a military logistics supplier gone wrong: one from the perspective of the Department of Defense contractor ('Bill') and one from the perspective of the Kuwaiti-based supplier ('Rohit').</p>
                <p>The case develops fictional characters to help elicit class discussion and teaching opportunities on issues of (1) how difficult it is to manage complicated ethical issues across national and cultural boundaries, and in stressful environments such as regions embroiled in military conflict, (2) how these contexts elicit in-group favouritism and out-group biases, and (3) how overcoming these limitations in global environments requires expanding one’s circle of moral regard. The case involves fictional characters but the content of the case is based on publicly available information about Agility Corporation, a Kuwaiti-based supplier of food and transport for the US Department of Defense who has been indicted for fraud.</p>

                <h2>Learning objectives</h2>
                <p>
                    Learning objectives
                <ol>
                    <li>
                        Understand the challenges associated with doing business across international boundaries and under high-stakes, high-stress conditions.
                    </li>
                    <li>
                        Understand the different global contexts that can create ethical challenges.
                    </li>
                    <li>
                        Gain insight into how we can all be subject to biases that favour our own groups (‘in-groups’) and disfavour members of ‘out-groups’ or others.
                    </li>
                    <li>Understand how to combat stereotypical thinking in order to make the challenge of doing business across global boundaries easier.</li>
                </ol>
                </p>

                <h2>Details</h2>
                <table class="details">
                    <tr>
                        <td>Publication Date:</td>
                        <td>August 2012</td>
                    </tr>
                    <tr>
                        <td>LBS Case Code:</td>
                        <td>CS-12-013</td>
                    </tr>
                    <tr>
                        <td>Topic:</td>
                        <td>Organisational behaviour</td>
                    </tr>
                    <tr>
                        <td>Subjects:</td>
                        <td>Business ethics; International business; Groups</td>
                    </tr>
                    <tr>
                        <td>Industry:</td>
                        <td>Logistics</td>
                    </tr>
                    <tr>
                        <td>Geography:</td>
                        <td>Middle East; United States</td>
                    </tr>
                    <tr>
                        <td>Protagonist:</td>
                        <td>Male</td>
                    </tr>
                    <tr>
                        <td>Pages:</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>Format:</td>
                        <td>PDF</td>
                    </tr>
                </table>
            </div>
            <div class="sidebar">
                <div class="add-to-cart">
                    <a href="" class="login-register">Login or register <br>to see prices</a>
                    <a href="" class="default-button">Add to cart</a>
                </div>
                <h2>Associated</h2>
                <div class="pdf-link">
                    <i class="doc-icon"></i>
                    <div>
                        <a href="">Supporting: Military Contracting in a War Zone: Rohit</a>
                        <div class="pdf-info">6 page pdf</div>
                    </div>
                </div>
                <div class="separator"></div>
                <h2>Other cases: <br>
                    Organisational behaviour</h2>
                <div class="pdf-link">
                    <i class="doc-icon"></i>
                    <div>
                        <a href="">Kweku Adoboli at UBS</a>
                    </div>
                </div>
                <div class="pdf-link">
                    <i class="doc-icon"></i>
                    <div>
                        <a href="">Innocent Drinks: Maintaining Socially Responsible Values During Growth</a>
                    </div>
                </div>
                <div class="pdf-link">
                    <i class="doc-icon"></i>
                    <div>
                        <a href="">Nestle and the multi-beverage machine market</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% include "partial/bottom-banner.twig" %}
    <div class="topics">
        <h2>Topics</h2>
        <ul>
            <li><a href="#">Accounting</a></li>
            <li><a href="#">Economics</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Management science and operations</a></li>
            <li><a href="#">Strategy and entrepreneurship</a></li>
            <li><a href="#">Organisational behaviour</a></li>
            <li><a href="#">Marketing</a></li>
        </ul>
    </div>

{% endblock %}
