<div class="bottom-banner">
    <div class="banner">
        <a href="{{ options.banner_url }}"><img src="{{ options.banner_image }}" alt=""></a>
    </div>
    <div class="subscribe">
        <a href="{{ options.subscribe_url }}"><span>+</span> Subscribe now</a>
    </div>
</div>