<div class="wrapper relative">
    <div class="cases-sub-menu">
        <div class="put-right">
            <div class="goto">Go to:</div>
            <div class="links">
                <a href="{{ function ('get_permalink', 136) }}" class="default-button"><i class="ico-arrow"></i>All cases</a>
                <a href="{{ function ('get_permalink', 140) }}" class="default-button"><i class="ico-arrow"></i>Latest cases</a>
                <a href="{{ function ('get_permalink', 138) }}" class="default-button"><i class="ico-arrow"></i>Featured cases</a>
                <a href="{{ function ('get_permalink', 142) }}" class="default-button inverse">Advanced search</a>
            </div>
        </div>
    <div class="red-style"></div>
    </div>
</div>